{% extends "base.html" %}

{% block title %}{{ projectName }}{% endblock %}

{% block head %}

<link href="css/index.css" rel="stylesheet">

{% endblock %}

{% block body %}

<div id="titlelogo">{{ projectName }}</div>

<div class="searchField">
    <form action="/">
        <input type="search" placeholder="Вводите название книги, автора, жанр…" name="searchQuery" class="searchField">
        <button type="submit" class="searchField">🔍</button>
    </form>
</div>

<div class="content">
    <table>
        <thead>
        <tr>
            <th colspan="2">Название
                <div class="panelSort">▼ ▲</div>
            </th>
            <th colspan="2">Автор
                <div class="panelSort">▼ ▲</div>
            </th>
            <th colspan="2">Жанр
                <div class="panelSort">▼ ▲</div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>★ {{ book.rating }}</td>
            <td>{{ authors[book.author_id - 1].name }}</td>
            <td>★ {{ authors[book.author_id - 1].rating }}</td>
            <td>{{ genres[book.author_id - 1].name }}</td>
            <td>★ {{ genres[book.author_id - 1].rating }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>

{% endblock %}