{% extends "base.html" %}

{% block title %}{{ projectName }}{% endblock %}

{% block head %}

<link href="css/index.css" rel="stylesheet">

{% endblock %}

{% block body %}


<div class="searchField">
    <form action="/">
        <input type="search" placeholder="Вводите название книги, автора, жанр…" name="searchQuery" class="searchField">
        <button type="submit" class="searchField">🔍</button>
    </form>
</div>

<div class="content">
    <table>
        <thead>
        <tr>
            <th colspan="2">Название
                <div class="panelSort">▼ ▲</div>
            </th>
            <th colspan="2">Автор
                <div class="panelSort">▼ ▲</div>
            </th>
            <th colspan="2">Жанр
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>★ {{ book.rating }}</td>
            <td>{{ authors[book.author_id - 1].name }}</td>
            <td>★ {{ authors[book.author_id - 1].rating }}</td>
            <td>{{ genres[book.author_id - 1].name }}</td>
            <td>★ {{ genres[book.author_id - 1].rating }}</td>
            <td>
                <a href="book/edit/{{ book.id }}">🖉 Редактировать</a>
                <a href="book/del/{{ book.id }}">❌ Удалить</a>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>

    {% if (books)|length==0 %}
    <p>Список книг пуст…</p>
    {% endif %}

    <p><a href="book/add">➕ Добавить книгу…</a></p>
</div>

<div class="content left">
    <h1>Авторы</h1>
    <table>
        <thead>
        <tr>
            <th>
                Имя
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>
                Рейтинг
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>
                Кол-во книг
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.name }}</td>
            <td>★ {{ author.rating }}</td>
            <td>N/A</td>
            <td>
                <a href="author/edit/{{ author.id }}">🖉 Редактировать</a>
                <a href="author/del/{{ author.id }}">❌ Удалить</a>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>

    {% if (authors)|length==0 %}
    <p>Список авторов пуст…</p>
    {% endif %}

    <p><a href="author/add">➕ Добавить автора…</a></p>
</div>

<div class="content right">
    <h1>Жанры</h1>
    <table>
        <thead>
        <tr>
            <th>
                Имя жанра
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>
                Рейтинг
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>
                Кол-во книг
                <div class="panelSort">▼ ▲</div>
            </th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.name }}</td>
            <td>★ {{ genre.rating }}</td>
            <td>N/A</td>
            <td>
                <a href="genre/edit/{{ genre.id }}">🖉 Редактировать</a>
                <a href="genre/del/{{ genre.id }}">❌ Удалить</a>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>

    {% if (genres)|length==0 %}
    <p>Список жанров пуст…</p>
    {% endif %}

    <p><a href="genre/add">➕ Добавить жанр…</a></p>
</div>

{% endblock %}