@font-face {
    font-family: 'IM FELL French Canon';
    src: url(../fnt/IMFeFCit29P.ttf);
}

body {
    background: url(../img/index/background.jpg);
    background-size: cover;
}

div.content {
    background: white;
    border: 4pt solid white;
    border-radius: 8pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}