@font-face {
    font-family: 'IM FELL French Canon';
    src: url(/fnt/IMFeFCit29P.ttf);
}

body {
    background: url(/img/index/background.jpg);
    background-size: cover;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 16pt;
}

.content {
    background: white;
    border: 4pt solid white;
    border-radius: 8pt;
    margin: 8pt 0;
    text-align: center;
}

.content.left {
    float: left;
    width: 45%;
}

.content.right {
    float: right;
    width: 45%;
}

.content.center {
    width: 80%;
}


#titlelogo {
    text-align: center;
    color: white;
    font: bold 96pt 'IM FELL French Canon';
    text-shadow: 2pt 2pt 4pt black;
}
