#titlelogo {
    text-align: center;
    color: white;
    font: bold 96pt 'IM FELL French Canon';
    text-shadow: 2pt 2pt 4pt black;
}


.searchField {
    font-size: 24pt;
}

.searchField input[type="search"] {
    width: 70%;
}

div.searchField {
    text-align: center;
    font: bold 96pt 'IM FELL French Canon';
    width: 100%;
}


table {
    width: 100%;
}

th {
    background: #d2a06b;
    padding: 4pt 16pt;
}

td {
    border: solid white;
    border-width: 8pt 0pt;
    margin: 140pt;
}


.ratingAwesome {
    color: #0a0;
}

.ratingGood {
    color: #5a0;
}

.ratingAverage {
    color: #aa0;
}

.ratingPoor {
    color: #a50;
}

.ratingHorrible {
    color: #a00;
}

.panelSort {
    float: right;
}