{% extends "Base.html" %}

{% block title %}Добавление жанра — {{ projectName }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

{% if errorMessage is not null %}
<div class="content">
    <h1>Произошла ошибка!</h1>
    {{ errorMessage }}
</div>
{% else %}
{% if addedGenre is not null %}
<div class="content">
    <h1>Добавлен жанр: «{{ addedGenre.name }}»</h1>
</div>
{% endif %}
{% endif %}

<div class="content">
    <a href="/" class="backLink">◀ На главную</a>
    <h1>Добавление жанра…</h1>
    <form action="add">
        <input type="text" placeholder="Имя" name="name">
        <button type="submit">Создать</button>
    </form>
</div>

{% endblock %}