{% extends "Base.html" %}

{% block title %}{{ projectName }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<div class="content">
    <a class="backLink" href="/">◀ На главную</a>
    {% if message is not null %}
    <h1>{{ message }}</h1>
    {% else %}
    <h1>Редактирование жанра «{{ editableGenre.name }}»…</h1>
    <form action="/genre/edit/{{ editableGenre.id }}">
        <input name="newName" placeholder="Имя" type="text">
        <button type="submit">Изменить</button>
    </form>
    {% endif %}
</div>

{% endblock %}