{% extends "Base.html" %}

{% block title %}{{ title }} — {{ projectName }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

    {% if message is not null %}
        <div class="content">
            <h1>{{ message }}</h1>
        </div>
    {% endif %}
    <div class="content">
        <a href="/" class="backLink">◀ На главную</a>
        <h1>{{ title }}</h1>
        <form action="{{ actionUrl }}">
            <input type="text" placeholder="Имя" name="name">
            {% if templateLinks is not null %}
                {% include templateLinks.addFields %}
            {% endif %}
            <button type="submit">Создать</button>
        </form>
    </div>

{% endblock %}