Автор:
<select name="author_id">
    {% for author in authors %}
    {% if author.id == content.author_id %}
    <option selected value="{{ author.id }}">
        {% else %}
    <option value="{{ author.id }}">
        {% endif %}
        {{ author.name }} ★{{ author.rating}}
    </option>
    {% endfor %}
</select>
Рейтинг:
<input type="number" name="rating" min="1" max="5" step="0.1" value="{{ content.rating }}">
Жанр:
<select name="genre_id">
    {% for genre in genres %}
    {% if genre.id == content.genre_id %}
    <option value="{{ genre.id }}" selected>
        {% else %}
    <option value="{{ genre.id }}">
        {% endif %}
        {{ genre.name }}
    </option>
    {% endfor %}
</select>